.projects {
  display: flex;
  flex-direction: column;
  gap: 50px;
  margin-top: 20px;

  .project {
    display: flex;
    gap: 20px;
    height: 200px;

    .project-img {
      background-color: #00000030;
      min-width: 250px;
      max-width: 250px;
      max-height: 200px;
      overflow: hidden;
      text-align: center;
      justify-content: center;
      position: relative;
      align-items: center;
      display: flex;
      border-radius: 6px;

      @media screen and (max-width: 300px) {
        min-width: 0px;
      }

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
        border-radius: 6px;
      }

      .options {
        visibility: hidden; // hide the options by default
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 6px;
        gap: 10px;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 2;
        background-color: transparent; // start with a transparent background
        flex-direction: column;
        opacity: 0;
        transition: all 0.3s ease;

        > * {
          border: 1px solid white; //Dark mode or not still white
          padding: 5px 10px;
          border-radius: 4px;
          width: 175px;
          display: flex;
          justify-content: space-between;
          text-decoration: none;
          align-items: center;
          background-color: transparent;
          color: var(--white);

          .link-text {
            font-size: var(--font-sm);
            color: white; //Dark mode or not still white
            background-color: transparent;
          }

          img {
            width: 20px;
            height: 20px;
            background-color: transparent;
          }
        }
      }

      &:hover {
        .options {
          visibility: visible;
          background-color: rgba(0, 0, 0, 0.4);
          opacity: 1;
        }
      }
    }

    .project-details {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      gap: 20px;

      .project-title {
        font-size: var(--font-xl);
        font-weight: bold;
        text-overflow: ellipsis;
        overflow: hidden;
      }

      .project-side {
        display: flex;
        text-align: center;
        align-items: center;
        gap: 10px;
        line-clamp: 1;
        -webkit-line-clamp: 1;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;

        .project-date {
          background-color: var(--black);
          color: var(--white);
          padding: 2px 15px;
          border-radius: 100px;
          font-size: var(--font-md);
        }

        .project-tech {
          font-size: var(--font-md);
          text-overflow: ellipsis;
          overflow: hidden;
        }
      }

      .project-description {
        font-size: var(--font-sm);
        line-clamp: 5;
        -webkit-line-clamp: 5;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-box-orient: vertical;
      }
    }
  }
  @media screen and (max-width: 768px) {
    .project {
      flex-direction: column;
      height: max-content;

      .project-img {
        width: 100%;
        max-width: 100%;
        height: 230px;
      }
    }
  }
}
