.blog-page{
    padding: 0 var(--padding-lg) var(--padding-lg) var(--padding-lg);

    .recent-posts{

        .post{
            background-color: var(--white);

            padding: 25px 0;
        }
    }
}