.hero{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: var(--padding-lg);

    .left{
        flex: 1;
        display: flex;
        flex-direction: column;
        gap: 20px;

        .title{
            font-size: var(--font-title);
            font-weight: bold;
        }

        .description{
            font-size: var(--font-sm);
            text-wrap: balance;
        }

        a{
            font-size: var(--font-md);
        }
    }


    .right{
        flex: 1;
        display: flex;
        justify-content: end;
        align-items: center;

        img{
            border: 15px solid #EDF7FA50;
            border-radius: 100%;
            text-align: center;
            object-fit: cover;
            object-position: center;
            width: 250px;
            height: 250px;
        }
    }
}

.blog{
    background-color: #EDF7FA;
    padding: var(--padding-lg);
    font-size: var(--font-md);

    .recent-posts{
        flex-direction: row;
        flex-wrap: nowrap; 
        overflow-x: auto; 
        scroll-snap-type: x proximity; 
        gap: 50px;
        margin-top: 20px;
        padding-bottom: 20px;
    
        &::-webkit-scrollbar {
            display: none; 
        }

        .post{
            max-width: 400px;
            height: max-content;
        }
    }
}