.project-page{  
    padding: 0 var(--padding-lg);

    .padding-lg{
        padding: 0 0 var(--padding-lg) 0;

        > p{
            font-weight: bold;
            font-size: var(--font-xl);
            margin-bottom: var(--padding-lg);
        }
    }
}