.header{
    display: flex;
    position: sticky;
    top: 0;
    background-color: white;
    justify-content: space-between;
    padding: var(--font-md) var(--padding-lg);

    .logo{
        font-size: var(--font-md);
        font-weight: bold;
    }

    .menu{
        display: flex;
        gap: 50px;
        align-items: center;

        a{
            color: black;
            font-weight: bold;
            text-decoration: none;
            font-size: var(--font-md);
        }

        @media screen and (max-width: 768px){
            display: none;
            
        }
    }

    @media screen and (max-width: 768px){
        .menu.active{
            display: flex;
            position: fixed;
            right: 0;
            flex-direction: column;
            width: 40vw;
            height: 100%;
            background-color: white;
            justify-content: center;
            align-items: center;
            
        }
        
    }

    .hamburger {
        display: none;
        cursor: pointer;
        flex-direction: column;
        justify-content: space-around;
        width: 30px;
        height: 25px;
    
        span {
          display: block;
          height: 2px;
          width: 100%;
          background: #333;
          transition: all 0.3s ease-in-out;
        }
    
        @media screen and (max-width: 768px) {
          display: flex;
        }
    
        &.active {
          span {
            opacity: 1; // Ensure all spans are visible during transformation
            
            &:nth-child(1) {
                transform: translateY(8px) rotate(45deg);
            }
    
            &:nth-child(2) {
              opacity: 0; // Hide the second span without moving it
            }
    
            &:nth-child(3) {
                transform: translateY(-8px) rotate(-45deg);
            }
          }
        }
    }
}
