#root{
  /* PADDING VARIABLES */
  --padding-lg: 50px;
  --padding-md: 30px;
  --padding-sm: 20px;
  --padding-primary: 10px 15px;

  /* COLOR VARIABLES */
  --primary-button: #FF6464;

  /* FONT VARIABLES */
  --font-copyright: 14px;
  --font-sm: 16px;
  --font-md: 18px;
  --font-lg: 26px;
  --font-xl: 30px;
  --font-title: 44px;
}

body, * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.padding-lg{
  padding: var(--padding-lg);
}

.font-md{
  font-size: var(--font-md);
}

.primary-button{
  background-color: var(--primary-button);
  border: none;
  cursor: pointer;
  padding: var(--padding-primary);
  color: white;
  border-radius: 2px;
}

hr{
  border: 1px solid #00000080;
  margin: 20px 0;
}

.vertical-line{
  border: 1px solid #00000080;
  min-height: 15px;
}

.sliding-left {
  animation: slideInFromLeft 1s ease-in-out forwards;
}

.sliding-right {
  animation: slideInFromRight 1s ease-in-out forwards;
}

@keyframes slideInFromRight {
  from {
    transform: translateX(100px);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slideInFromLeft {
  from {
    transform: translateX(-100px);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}