#root{
  /* PADDING VARIABLES */
  --padding-lg: 50px;
  --padding-md: 30px;
  --padding-sm: 20px;
  --padding-primary: 10px 15px;

  /* COLOR VARIABLES */
  --primary-button: #FF6464;
}

body, * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body > *{
  padding: 0 var(--padding-lg);
}

.primary-button{
  background-color: var(--primary-button);
  border: none;
  cursor: pointer;
  padding: var(--padding-primary);
  color: white;
  border-radius: 2px;
}