@import url("https://fonts.googleapis.com/css2?family=Heebo:wght@100..900&display=swap");

#root {
  /* PADDING VARIABLES */
  --padding-lg: 50px;
  --padding-md: 30px;
  --padding-sm: 20px;
  --padding-primary: 10px 15px;

  /* COLOR VARIABLES */
  --primary-button: #ff6464;
  --white: #ffffff;
  --black: #212121;

  /* FONT VARIABLES */
  --font-copyright: 14px;
  --font-sm: 16px;
  --font-md: 18px;
  --font-lg: 26px;
  --font-xl: 30px;
  --font-title: 44px;
}

.dark-mode {
  --white: #212121; /* Black for dark mode */
  --black: #ffffff; /* White for dark mode */
}

.projects .project > a {
  text-decoration: none;
  color: var(--black);
}

.recent-posts a {
  text-decoration: none;
  color: var(--black);
}

body,
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: var(--white);
  color: var(--black);
  font-family: "Heebo", sans-serif;
}

.padding-lg {
  padding: var(--padding-lg);
}

.font-md {
  font-size: var(--font-md);
}

.primary-button {
  background-color: var(--primary-button);
  border: none;
  cursor: pointer;
  padding: var(--padding-primary);
  color: white;
  border-radius: 2px;
}

hr {
  border: 1px solid var(--black);
  margin: 20px 0;
}

.vertical-line {
  border: 1px solid var(--black);
  min-height: 15px;
}

.sliding-left {
  animation: slideInFromLeft 1s ease-in-out forwards;
}

@keyframes slideInFromLeft {
  from {
    transform: translateX(-100px);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}
